/*Div ve Headerler*/
.Yerler {
    text-align: left;
}
.Yerler-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    color: white;
  }
.karticin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }

/*fotolar*/
.kartfoto {
    width: 30%;
    margin-top: 5%;
    height: 100%;
    border-radius: 5px;
  }

  /*yazılar*/
.baslik {
    margin-top: 5%;
    text-align: center;
    font-size: 50px;
  }
.kartadi {
    margin-left: 5%;
    text-align: center;
    font-size: 30px;
  }

  /*Linkler*/
.repoyagonderis {
    margin-left: 0%;
    width: 50%;
    padding: 10px;
    border: 1px solid #080404;
    border-radius: 5px;
    background-color: #292b30;
    text-decoration: none;
    color: #fff;
  }

